
/*
-----------------------------menu pc-----------------------------
*/
#menu-pc {
  display: block;
}
#menu-pc.hide {
  display: none;
}
  a {
    text-decoration: none;
    color: white;
  }
  #navbar-pc {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    height: 80px;
    background: rgb(37, 36, 36);
    color: #f9f9f9;
  }
  .barre {
    border: #3d3d3d solid 1px;
    height: 60px;
    top: 6px;
  }
  .button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 14px 10px;
    height: 100%;
    opacity: 0.6;
  }
  .dropdown-menu {
    display: grid;
    margin-bottom: 28px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 180px;
    height: auto;
    padding: 6px 24px 10px;
    margin-bottom: 0;
    place-items: start;
    background: rgb(37, 36, 36);
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }
  .dropleft-menu {
    display: grid;
    margin-bottom: 28px;
    position: absolute;
    top: -3px;
    left: 228px;
    width: 180px;
    height: auto;
    padding: 6px 24px 10px;
    margin-bottom: 0;
    place-items: start;
    background: rgb(37, 36, 36);
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }
  
  .button-in {
    border: 0;
    padding: 0;
    margin: 8px 0px 8px 0px;
    background: transparent;
    cursor: pointer;
    line-height: 1;
    color: inherit;
    font-family: "Euclid Circular A";
    font-size: 16px;
  }
  
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
  .dropleft:hover .dropleft-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
  .dropdown {
    height: 100%;
    flex-direction: row;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .dropdowns {
    left: -9999px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0d0d0e;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
  }
  

  main {
    margin-top: 100px;
  }


/*
-----------------------------menu phone-----------------------------
*/

#menu-phone-all {
  display: block;
}
#menu-phone-all.hide {
  display: none;
}
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    background-color: black;
  }
  .burger,
  .menu-phone {
    position: fixed;
  }
  
  .burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-image: url("../img/logo/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  body.open .burger {
    background-image: url("../img/logo/close.svg");
  }
  
  .menu-phone {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #07030a;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  
  .menu-phone #link-menu-phone-storage {
    opacity: 0;
  }
  
  @keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
      clip-path: ellipse(120% 120% at 0% 50%);
    }
  }
  
  body.open .menu-phone {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }
  
  body.open .menu-phone #link-menu-phone-storage {
    opacity: 1;
  }
  
  .menu-phone #link-menu-phone-storage:hover a {
    opacity: 0.25;
  }
  
  .menu-phone #link-menu-phone-storage .link-menu-phone:hover {
    opacity: 1;
  }
  
  .menu-phone #link-menu-phone-storage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-phone .link-menu-phone {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu-phone .link-menu-phone::before,
  .menu-phone .link-menu-phone::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
  }
  
  .menu-phone .link-menu-phone::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
  }
  
  .menu-phone .link-menu-phone::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #f7f7f7;
  }
  
  .menu-phone .link-menu-phone:hover::before {
    opacity: 1;
  }
  
  .menu-phone .link-menu-phone:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu-phone .link-menu-phone {
    animation: appear 0.25s backwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }


/*
-----------------------------part1-----------------------------
*/

#part1 {
  background-color: white;
}
#img-Arnav {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
#img-Louis {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
#part2 {
  font-size: 2em;
  height: 1000px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 500px 500px;
  gap: 2%;
  left: 2%;
  position: relative;
  width: 100%;
}
#part3 {
  position: relative;
  top: 100px;
  width: 100%;
}
#part4 {
  position: relative;
  width: 100%;
  height: auto;
}
/*
-----------------------------other-----------------------------
*/

main {
  height: 1000px;
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
footer {
  position: relative;
}
  .empti-before-part {
    height: 100px;
  }
  .empti-before-part-big {
    height: 500px;
  }
p {
  text-align: justify;
}