/*
* {
  border: red solid 2px;
}
*/

/*
-----------------------------menu pc-----------------------------
*/
#menu-pc {
  display: block;
}
#menu-pc.hide {
  display: none;
}
  a {
    text-decoration: none;
    color: white;
  }
  #navbar-pc {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    height: 80px;
    background: rgb(37, 36, 36);
    color: #f9f9f9;
  }
  .barre {
    border: #3d3d3d solid 1px;
    height: 60px;
    top: 6px;
  }
  .button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 14px 10px;
    height: 100%;
    opacity: 0.6;
  }
  .dropdown-menu {
    display: grid;
    margin-bottom: 28px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 180px;
    height: auto;
    padding: 6px 24px 10px;
    margin-bottom: 0;
    place-items: start;
    background: rgb(37, 36, 36);
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }
  .dropleft-menu {
    display: grid;
    margin-bottom: 28px;
    position: absolute;
    top: -3px;
    left: 228px;
    width: 180px;
    height: auto;
    padding: 6px 24px 10px;
    margin-bottom: 0;
    place-items: start;
    background: rgb(37, 36, 36);
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }
  
  .button-in {
    border: 0;
    padding: 0;
    margin: 8px 0px 8px 0px;
    background: transparent;
    cursor: pointer;
    line-height: 1;
    color: inherit;
    font-family: "Euclid Circular A";
    font-size: 16px;
  }
  
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
  .dropleft:hover .dropleft-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
  .dropdown {
    height: 100%;
    flex-direction: row;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .dropdowns {
    left: -9999px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0d0d0e;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
  }
  

  main {
    margin-top: 100px;
  }


/*
-----------------------------menu phone-----------------------------
*/

#menu-phone-all {
  display: block;
}
#menu-phone-all.hide {
  display: none;
}
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    background-color: black;
  }
  .burger,
  .menu-phone {
    position: fixed;
  }
  
  .burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-image: url("../img/logo/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  body.open .burger {
    background-image: url("../img/logo/close.svg");
  }
  
  .menu-phone {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #07030a;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  
  .menu-phone #link-menu-phone-storage {
    opacity: 0;
  }
  
  @keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
      clip-path: ellipse(120% 120% at 0% 50%);
    }
  }
  
  body.open .menu-phone {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }
  
  body.open .menu-phone #link-menu-phone-storage {
    opacity: 1;
  }
  
  .menu-phone #link-menu-phone-storage:hover a {
    opacity: 0.25;
  }
  
  .menu-phone #link-menu-phone-storage .link-menu-phone:hover {
    opacity: 1;
  }
  
  .menu-phone #link-menu-phone-storage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-phone .link-menu-phone {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .menu-phone .link-menu-phone::before,
  .menu-phone .link-menu-phone::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
  }
  
  .menu-phone .link-menu-phone::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
  }
  
  .menu-phone .link-menu-phone::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #f7f7f7;
  }
  
  .menu-phone .link-menu-phone:hover::before {
    opacity: 1;
  }
  
  .menu-phone .link-menu-phone:hover::after {
    transform: scaleX(1);
  }
  
  body.open .menu-phone .link-menu-phone {
    animation: appear 0.25s backwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }


/*
-----------------------------part1-----------------------------
*/
#part1 {
  background-color: black;
  height: auto;
  color: white;
}
#part1 p {
  font-size: 3em;
}
#Big-title-intro {
  position: relative;
  opacity: 0;
  top: 0px;
  text-align: center;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
#Big-title-intro.show {
  opacity: 1;
  top: -50px;
}
#container-intro {
  display: grid;
  grid-template-columns: 55% 45%;
}
#container-texte-intro {
  height: auto;
  opacity: 0;
  background-color: rgb(32, 32, 32);
  border-radius: 25px;
  transition: opacity 1s ease-in-out;
}
#container-texte-intro.show {
  opacity: 1;
}
#img-intro-contra {
  top: 100px;
  opacity: 0;
  transform: rotate(45deg);
  transform: translate(-100%);
  height: auto;
  width: 100%;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
#img-intro-contra.show {
  z-index: -1;
  opacity: 1;
  transform: translate(0px);
}
#Medium-title-part1 {
  position: relative;
  width: auto;
  opacity: 0;
  top: 50px;
  right: 20px;
  text-align: center;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
#Medium-title-part1.show {
  opacity: 1;
  top: 0px;
}
#txt-intro-def {
  position: relative;
  color: #8b8b8b;
  width: 90%;
  left: 30px;
}
#ph1-intro {
  transition: color 0.5s ease-in-out;
}
#ph2-intro {
  transition: color 0.5s ease-in-out;
}
#ph3-intro {
  transition: color 0.5s ease-in-out;
}
#ph1-intro.higlite {
  color: white;
}
#ph2-intro.higlite {
  color: white;
}
#ph3-intro.higlite {
  color: white;
}


/*
-----------------------------part2-----------------------------
*/

.part2 {
  background-color: rgb(37, 37, 37);
  height: auto;
  color: rgb(255, 255, 255);
}
#img-intro-part2 {
  position: relative;
  background-image: url(https://static.lpnt.fr/images/2011/03/16/pilule-sante-273553-jpg_160967_660x287.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vw;
}
#img-part2-1 {
  position: relative;
  background-image: url(https://res.cloudinary.com/zava-www-uk/image/upload/fl_progressive/a_exif,f_auto,e_sharpen:100,c_fit,w_539,h_404,q_70/v1541761458/fr/services-setup/contraception/optimizette/lkezsvb6uq0rvay8jh7v.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vw;
}
#img-part2-2 {
  position: relative;
  background-image: url(https://res.cloudinary.com/zava-www-uk/image/upload/fl_progressive/a_exif,f_auto,e_sharpen:100,c_fit,w_539,h_404,q_70/v1541760374/fr/services-setup/contraception/leeloo-ge/hgxvbeq41x6ccr3gr8pj.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vw;
}
#Big-title-part2 {
  position: relative;
  opacity: 0;
  top: 0px;
  text-align: center;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
#Big-title-part2.show {
  opacity: 1;
  top: -50px;
}
#texte-intro-part2 {
  font-size: 2em;
  text-align: justify;
}
#titre-intro2-1 {
  opacity: 0;
  transform: translate(5%,-20%);
  transition: all 1s ease-in-out;
}
#titre-intro2-1.show {
  opacity: 1;
  transform: translate(5%, 20px);
}
#titre-intro2-2 {
  opacity: 0;
  transform: translate(5%,-20%);
  transition: all 1s ease-in-out;
}
#titre-intro2-2.show {
  opacity: 1;
  transform: translate(5%, 0);
}

#texte-intro-part2 {
  color: rgb(175, 175, 175);
}
#ph1-part2 {
  transition: color 0.5s ease-in-out;
}
#ph2-part2 {
  transition: color 0.5s ease-in-out;
}
#ph3-part2 {
  transition: color 0.5s ease-in-out;
}
#ph1-part2.higlite {
  color: white;
}
#ph2-part2.higlite {
  color: white;
}
#ph3-part2.higlite {
  color: white;
}

#paragraphe1-part2-1 {
  position: relative;
  text-align: justify;
  font-size: 1.8em;
  width: 60%;
  left: 35%;
  opacity: 0;
  transform: translate(5%,-20%);
  transition: all 1s ease-in-out;
}
#paragraphe2-part2-1 {
  position: relative;
  text-align: justify;
  font-size: 1.8em;
  width: 60%;
  left: 5%;
  opacity: 0;
  transform: translate(2%,-20%);
  transition: all 1s ease-in-out;
}
#paragraphe1-part2-2 {
  position: relative;
  text-align: justify;
  font-size: 1.8em;
  width: 60%;
  left: 35%;
  opacity: 0;
  transform: translate(5%,-20%);
  transition: all 1s ease-in-out;
}
#paragraphe2-part2-2 {
  position: relative;
  text-align: justify;
  font-size: 1.8em;
  width: 60%;
  left: 5%;
  opacity: 0;
  transform: translate(2%,-20%);
  transition: all 1s ease-in-out;
}
#paragraphe1-part2-1.show {
  opacity: 1;
  transform: translate(5%, 0);
}
#paragraphe2-part2-1.show {
  opacity: 1;
  transform: translate(2%, 0);
}
#paragraphe1-part2-2.show {
  opacity: 1;
  transform: translate(5%, 0);
}
#paragraphe2-part2-2.show {
  opacity: 1;
  transform: translate(2%, 0);
}

.chiffres-clés {
  background-color: rgb(0, 81, 255);
  border: black 2px solid;
  border-radius: 25px;
}
.chiffres-clés-grid {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 10%;
}
.pourcentage {
  text-align: center;
}
/*
-----------------------------part3-----------------------------
*/

#part3 {
  background-color: rgb(0, 0, 0);
  height: auto;
  color: rgb(255, 255, 255);
}
#img-intro-part3 {
  position: relative;
  background-image: url(https://i.unimedias.fr/2022/02/28/pilule_microdosee.jpg?auto=format,compress&cs=tinysrgb);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vw;
}
#titre-intro2-3 {
  position: relative;
  opacity: 0;
  top: 0px;
  text-align: center;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
#titre-intro2-3.show {
  opacity: 1;
  top: -50px;
}
#texte-intro-part3 {
  color: rgb(175, 175, 175);
  font-size: 2em;
  text-align: center;
}
#ph1-part3 {
  transition: color 0.5s ease-in-out;
}
#ph2-part3 {
  transition: color 0.5s ease-in-out;
}
#ph1-part3.higlite {
  color: white;
}
#ph2-part3.higlite {
  color: white;
}
#texte-intro-part31 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-align: center;
}
.paragraphe-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2%;
  left: 1%;
  right: 1%;
}
#paragraphe1-part3 {
  position: relative;
  text-align: justify;
  font-size: 1.8em;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s ease-in-out;
}
#paragraphe2-part3 {
  position: relative;
  text-align: justify;
  font-size: 1.8em;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s ease-in-out;
}
#paragraphe1-part3.show {
  opacity: 1;
  transform: translate(0);
}
#paragraphe2-part3.show {
  opacity: 1;
  transform: translate(0);
}
#img-part3-maux-de-tête {
  width: 98%;
  left: 1%;
}
#texte-outro-part3 {
  color: rgb(175, 175, 175);
  font-size: 2em;
  text-align: center;
  transition: color 0.5s ease-in-out;
}
#texte-outro-part3.higlite {
  color: white;
}


#img-intro-part4 {
  position: relative;
  background-image: url(https://www.qare.fr/wp-content/uploads/2020/08/GettyImages-1157747723-1.jpg?x99757);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vw;
}
#titre-intro-part4 {
  position: relative;
  opacity: 0;
  top: 0px;
  text-align: center;
  transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
#titre-intro-part4.show {
  opacity: 1;
  top: -50px;
}
#paragraphe1-part4 {
  position: relative;
  text-align: center;
  font-size: 1.8em;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s ease-in-out;
}
#paragraphe1-part4.show {
  opacity: 1;
  transform: translate(0);
}
#cycle-28 {
  position: relative;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s ease-in-out;
}
#cycle-28.show {
  opacity: 1;
  transform: translate(0);
}
#cycle-21 {
  position: relative;
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s ease-in-out;
}
#cycle-21.show {
  opacity: 1;
  transform: translate(0);
}
.img {
  width: 100%;
}



/*
-----------------------------Tooltip-----------------------------
*/
.tooltip {
  display: inline-block;
  position: relative;
  color: rgb(0, 175, 175);
  text-decoration: underline;
}

.tooltip::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.tooltip:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.tooltip-container {
  width: 425px;
  min-height: 200px;
  height: auto;
  padding: 15px;
  font-size: 25px;
  background: white;
  box-shadow: 0 30px 90px -20px rgba(0,0,0,0.3);
  position: absolute;
  z-index: 100;
  display: none;
  opacity: 0;
}

.fade-in {
  display: block;
  animation: fade 0.2s linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*
-----------------------------other-----------------------------
*/

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
footer {
  position: relative;
}
  .empti-before-part {
    height: 100px;
  }
  .empti-before-part-big {
    height: 500px;
  }
