body {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(0, 0, 0, 0.8);
}


h2 {
    text-align: justify;
}

header {
    background-color: antiquewhite;
}

a:hover {
    opacity: 0.8;
    text-decoration: underline white;
}

.main_page {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 1%;
  }
  
  .right_main {
    right: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.500);
  }

  .left_hide {
    height: 100%;
  }

  .left_main {
    position: fixed;
    top: 25%;
    background-color: #ffffff;
    height: 300px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.500);
  }

.menu {
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    display: inline-block;
    position: relative;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000ce;
  }
  
  .menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    background-color: antiquewhite;
    border: 3px solid rgb(0, 0, 0);
  }
  
  .menu li:hover ul {
    display: block;
  }

  .menu ul li {
    display: block;
  }
  
  .menu ul a {
    padding: 5px 10px;
    white-space: nowrap;
  }
  
  .menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .menu ul ul a {
    padding-left: 20px;
  }
  
  